body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.GameArea{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

}
#UI{
    margin-left:auto;
    margin-right: auto;
    margin-top: 5%;
    display: flex;
    width: 50%;
    background-color: aqua;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

#arena{
    width: 65.7vh;
    height: 37vh;
    background-image: url('./fondo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border: 10px;
    border-style: solid;
    border-color: #411e09f7;
}
#pokePropio{
    position: relative;
    top: 42%;
    left: 17%;
    height: 50%;
}
#pokeRival{
    position: relative;
    top: 12%;
    left: 28%; 
    height: 45%;
}

#poke-propio{
    background-color: orange;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 15%; 
    align-items: center;
    margin-right: 1%;
}

#poke-rival{
    background-color: purple;
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 15%; 
    align-items: center;
    margin-left: 1%;
}
